#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=static --device=ens192 --onboot=on --ipv6=auto --no-activate --ip=192.168.1.116 --netmask=255.255.255.0 --gateway=192.168.1.1 --nameserver=192.168.1.1 
network  --hostname=vm116

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.311 --fstype="lvmpv" --ondisk=sda --size=15905
part /boot --fstype="xfs" --ondisk=sda --size=476
part biosboot --fstype="biosboot" --ondisk=sda --size=2
volgroup rl --pesize=4096 pv.311
logvol / --fstype="xfs" --size=13369 --name=root --vgname=rl
logvol /var --fstype="xfs" --size=2048 --name=var --vgname=rl
logvol swap --fstype="swap" --size=476 --name=swap --vgname=rl

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$VLsLYIN.Eqw7cGNQ$IC.WXoIVShf7s0gzIaehmlQPwtT066VBGD5v5OjMrOatZlDwUG43owQe4XFCm4tijh6y3rWKyjkY1HGkRtk.O/
user --name=muqadas --password=$6$zkf0pfvSS2zNNAjL$pD8Lc4Es/zTlTphVtcbUyeXYSsHM7UqA/BPLJEV8wQUV91YcSFlaB6UBMhozpuI8jHlxd8A.evFgSj57n2Vr90 --iscrypted --gecos="muqadas"

# Reboot after installtion
reboot
eula --agreed
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
